# @(#) tt/root@belcarra.com/debian286.bbb|otg/functions/acm/Kconfig|20070628094342|31231

# Copyright (c) 2005-2006 Belcarra Technologies 2005 Corp

menu "OTG ACM Function"

config OTG_ACM
        tristate "CDC ACM Function"
        depends on OTG
        default OTG

config OTG_ACM_PIPES_TEST
                bool "Pipes Test Only"
                depends on OTG && OTG_ACM && OTG_INTERNAL_TESTING
                default n
                ---help---
                Setting this allows the pipes to be tested separately.

endmenu
