# drivers/char/jive/Makefile

menu "Jive hardware driver support"

config JIVE_DRIVER
	bool "Jive hardware support"
	depends on MACH_JIVE

config JIVE_IRTX
	tristate "Jive IR transmit Driver"
	depends on JIVE_DRIVER

config JIVE_MGMT
	tristate "Jive hardware mangement Driver"
	depends on JIVE_DRIVER

config JIVE_WHEEL
	tristate "Jive Wheel Driver"
	depends on JIVE_DRIVER

config JIVE_MATRIX
	tristate "Jive keyboard matrix Driver"

endmenu
