menu "Voltage and Current regulators"

config REGULATOR_API
	bool

config REGULATOR
	tristate "Voltage and Current Regulator Support"
	depends on EXPERIMENTAL
	select REGULATOR_API
	default n
	help
	  Generic Voltage and Current Regulator support.

config REGULATOR_DEBUG
	bool "Regulator debug support"
	depends on REGULATOR
	help
	  Say yes here to enable debugging support.

config REGULATOR_MC13783
	tristate "MC13783 Regulator Support"
	depends on REGULATOR
	depends on MXC_PMIC_MC13783
	default y

config REGULATOR_MC13892
	tristate "MC13892 Regulator Support"
	depends on REGULATOR
	depends on MXC_PMIC_MC13892
	default y

config REGULATOR_MAX8660
	tristate "MAX8660 Regulator Support"
	depends on REGULATOR
	depends on MXC_PMIC_MC9SDZ60
	default y

config REGULATOR_WM8350
	tristate "WM8350 Regulator Support"
	depends on REGULATOR

menu "WM8350 Config Mode"
depends on REGULATOR_WM8350

choice
	prompt "WM8350 Configuration Mode"
	default PMIC_WM8350_MODE_0

config PMIC_WM8350_MODE_0
	bool "Mode 0"

config PMIC_WM8350_MODE_1
	bool "Mode 1"

config PMIC_WM8350_MODE_2
	bool "Mode 2"

config PMIC_WM8350_MODE_3
	bool "Mode 3"

endchoice

endmenu

endmenu
