#
# PMIC Modules configuration
#

config MXC_MC9SDZ60_ADC
	tristate "MC9SDZ60 ADC support"
	depends on MXC_PMIC_MC9SDZ60
	default n
	---help---
	This is the MC9SDZ60 ADC module driver. This module provides kernel API
	for the ADC system of MC9SDZ60.
	It controls also the touch screen interface.
	If you want MC9SDZ60 ADC support, you should say Y here

config MXC_MC9SDZ60_RTC
	tristate "MC9SDZ60 Real Time Clock (RTC) support"
	depends on MXC_PMIC_MC9SDZ60
	---help---
	This is the MC9SDZ60 RTC module driver. This module provides kernel API
	for RTC part of MC9SDZ60.
	If you want MC9SDZ60 RTC support, you should say Y here
	
config MXC_MC9SDZ60_POWER
	tristate "MC9SDZ60 Power API support"
	depends on MXC_PMIC_MC9SDZ60
	---help---
	This is the MC9SDZ60 power and supplies module driver. This module provides kernel API
	for power and regulator control part of MC9SDZ60.
	If you want MC9SDZ60 power support, you should say Y here
