Source: oprofileui
Section: misc
Priority: extra
Maintainer: Rob Bradford <rob@openedhand.com>
Build-Depends: cdbs, debhelper (>= 4), autotools-dev, libgtk2.0-dev, libglade2-dev, libgnomevfs2-dev
Standards-Version: 3.7.2

Package: oprofileui-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: oprofileui-server
Description: OProfile User Interface (viewer)
 User interface to the OProfile stochastic profiler.
 .
 This package contains the viewer.

Package: oprofileui-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, oprofile-common
Description: OProfile User Interface (server)
 User interface to the OProfile stochastic profiler.
 .
 This package contains the server.
