# @(#) sl@belcarra.com/whiskey.enposte.net|otg/.Makefiles/Kconfig-freescale|20070525074749|60734
# Copyright (c) 2005-2006 Belcarra Technologies 2005 Corp
menu "On-The-Go and USB Peripheral Support"

    config OTG
        tristate "Support for On-The-Go and USB Peripheral Support"
        ---help---
            Configure all or part of the Belcarra OTG Stack


    comment ""

    menu "On-The-Go Support Platform Selection"
        depends on OTG

        source "drivers/otg/hardware/Kconfig-zasevb"
        source "drivers/otg/hardware/Kconfig-zasevb-arc"
        source "drivers/otg/hardware/Kconfig-imx31ads"
        source "drivers/otg/hardware/Kconfig-isp1301"

    endmenu

    source "drivers/otg/Kconfig-otg"

    if ( OTG_ZASEVB != 'n')

		config OTG_NEW_TX_CACHE
			bool 'Use new macro to synchronize TX cache'
			default n
			---help---
			Newer kernels need this set. Turn this off if you get TX_CACHE build errors

    endif



    menu "Targeted Peripherals List (USB Peripheral Function Drivers)"
        depends on OTG_PLATFORM_OTG || OTG_PLATFORM_USBD
        #---help---
        #A list of USB peripheral types that this device
        #can emulate when it is acting as a peripheral.
        source "drivers/otg/functions/generic/Kconfig"
        source "drivers/otg/functions/acm/Kconfig"
        source "drivers/otg/functions/mouse/Kconfig"
        source "drivers/otg/functions/msc/Kconfig"
        source "drivers/otg/functions/network/Kconfig"
#        source "drivers/otg/functions/belcarra/Kconfig"
#        source "drivers/otg/functions/motorola/Kconfig"
#        source "drivers/otg/functions/isotest/Kconfig"
    endmenu

endmenu
