#
# Character device configuration
#

menu "SPI support"

config SPI
	tristate "SPI support"
	---help---
	  SPI is a serial bus protocol used in
	  many micro controller applications.

	  If you want SPI support, you should say Y here and also to the
	  specific driver for your bus adapter(s) below.

	  This SPI support can also be built as a module.  If so, the module
	  will be called spi-core.

source drivers/spi/busses/Kconfig

config SPI_DEBUG_CORE
	bool "SPI Core debugging messages"
	depends on SPI
	help
	  Say Y here if you want the SPI core to produce a bunch of debug
	  messages to the system log.  Select this if you are having a
	  problem with SPI support and want to see more of what is going on.

config SPI_DEBUG_BUS
	bool "SPI Bus debugging messages"
	depends on SPI
	help
	  Say Y here if you want the SPI bus drivers to produce a bunch of
	  debug messages to the system log.  Select this if you are having
	  a problem with SPI support and want to see more of what is going
	  on.

endmenu


