#
# USB Network devices configuration
#
comment "Belcarra USBLAN Networking for USB"
	depends on USB && NET

config USB_USBLAN
	tristate "Support for Belcarra USBLAN Network Devices"
	depends on USB && NET

config USB_USBLAN_IDS
	bool "Override built-in Vendor and Product ID's"
	depends on USB && NET && USB_USBLAN
	default "n"

config USB_USBLAN_VENDORID
	hex "USB Vendor ID for the USBLAN network device"
	depends on USB_USBLAN && USB_USBLAN_IDS
	default "0"

config USB_USBLAN_PRODUCTID
	hex "USB Product ID for the USBLAN network device"
	depends on USB_USBLAN && USB_USBLAN_IDS
	default "0"
