#
# Sensor device configuration
#

menu "SPI Hardware Bus support"
	depends on SPI

config SPI_S3C2413
	tristate "S3C2413 SPI Driver"
	depends on SPI && ARCH_S3C2413
	help
	  Say Y here to include support for SPI controller in the
	  Samsung S3C2413 based System-on-Chip devices.

endmenu

