#
# Mouse driver configuration
#
config INPUT_TOUCHSCREEN
	bool "Touchscreens"
	depends on INPUT
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

config TOUCHSCREEN_BITSY
	tristate "Compaq iPAQ H3600 (Bitsy) touchscreen input driver"
	depends on SA1100_BITSY && INPUT && INPUT_TOUCHSCREEN
	select SERIO
	help
	  Say Y here if you have the h3600 (Bitsy) touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called h3600_ts_input.

config TOUCHSCREEN_GUNZE
	tristate "Gunze AHL-51S touchscreen"
	depends on INPUT && INPUT_TOUCHSCREEN
	select SERIO
	help
	  Say Y here if you have the Gunze AHL-51 touchscreen connected to
	  your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called gunze.

config TOUCHSCREEN_S3C2440
	tristate "S3C2440 touchscreen"
	depends on INPUT && INPUT_TOUCHSCREEN
	help
	  Say Y here if you have the touchscreen S3C2440 touchscreen

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called s3c2440_ts.

config S3C2440_TSHOOK
	boolean "Touch-Repeat Support"
	depends on TOUCHSCREEN_S3C2440
	default y

config S3C2440_ADC_POLLING
	boolean "ADC In Polling Mode"
	depends on TOUCHSCREEN_S3C2440
	default n

config TOUCHSCREEN_S3C2413
	tristate "S3C2413 touchscreen"
	depends on INPUT && INPUT_TOUCHSCREEN
	help
	  Say Y here if you have the touchscreen S3C2413 touchscreen

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called s3c2413_ts.

config S3C2413_TSHOOK
	boolean "Touch-Repeat Support"
	depends on TOUCHSCREEN_S3C2413
	default y
config S3C2413_TS_OLD_API
	boolean "Use the 2.4 kernel touch screen API"
	depends on TOUCHSCREEN_S3C2413
	default y


config S3C2413_ADC_POLLING
	boolean "ADC In Polling Mode"
	depends on TOUCHSCREEN_S3C2413
	default n
