#
# Yamu Solutions device driver configuration
#

menu "Yamu Solutions Driver"

config YAMU_DRIVER
	bool "Yamu Solutions Driver Support"
	help
		This is yamu2412 driver for kernel 2.6.x
	
config KeyBackLightDIMM
	tristate "Keypad backlight Dimming Driver support"
	depends on YAMU_DRIVER
	help
		Keypad backlight driver

config MATRIX
	tristate "Matrix key Driver support"
	depends on YAMU_DRIVER
	help
		Matrix key driver

#config HOLD 
#	tristate "Hold key Driver support"
#	depends on YAMU_DRIVER
#	help 
#		Hold key driver

config BATTERY 
	tristate "Battery ADC Driver support"
	depends on YAMU_DRIVER
	help 
		Battery ADC driver

#config LCDP
#	tristate "LCD power Driver support"
#	depends on YAMU_DRIVER
#	help
#		LCD power driver
		
config HDET
	tristate "Headphone detection Driver support"
	depends on YAMU_DRIVER

#config DACP
#	tristate "DAC power control Driver support"
#	depends on YAMU_DRIVER
	
#config AMPP
#	tristate "AMP power control Driver support"
#	depends on YAMU_DRIVER

#config MuteTR
#	tristate "Mute TR control Driver support"
#	depends on YAMU_DRIVER
	
config WLANP
	tristate "Wireless lan power control Driver support"
	depends on YAMU_DRIVER

config WLAN_DC_EN
	tristate "Wireless lan WLAN_DC_EN control Driver support"
	depends on YAMU_DRIVER

config WLAN_SLEEP_CLK
	tristate "Wireless lan WLAN_SLEEP_CLK control Driver support"
	depends on YAMU_DRIVER
	
config MOTION
	tristate "Motion sensor Input Driver support"
	depends on YAMU_DRIVER

config ACCEL
	tristate "Motion sensor control Driver support"
	depends on YAMU_DRIVER
	
config LCDDIMM
	tristate "LCD backlight dimming control (PWM) Driver support"
	depends on YAMU_DRIVER

config IRTX
	tristate "IR Transmitte driver support"
	depends on YAMU_DRIVER

#config IRRX
#	tristate "IR Recieve driver support"
#	depends on YAMU_DRIVER

config WHEEL
	tristate "Wheel driver support"
	depends on YAMU_DRIVER

config PMODE
	tristate "Power Mode driver support"
	depends on YAMU_DRIVER

config LcdReset
	tristate "LcdReset Mode driver support"
	depends on YAMU_DRIVER

#config LCDBacklightEn
#	tristate "LCD Backlight Enable Mode driver support"
#	depends on YAMU_DRIVER

#config MuteFET
#	tristate "Mute FET Mode driver support"
#	depends on YAMU_DRIVER

config NANDWP
	tristate "Nand nWP driver support"
	depends on YAMU_DRIVER
	
#config AG_OUT
#	tristate "WM8750 AG_OUT driver support"
#	depends on YAMU_DRIVER	

#config BT_PRIORITY
#	tristate "WLAN BT_PRIORITY  driver support"
#	depends on YAMU_DRIVER	
	
config CHG_ACPR
	tristate "Charger CHG_ACPR driver support"
	depends on YAMU_DRIVER	
	
config CHG_HPWR
	tristate "Charger CHG_HPWR driver support"
	depends on YAMU_DRIVER
	
config CHG_PPR
	tristate "Charger CHG_PPR driver support"
	depends on YAMU_DRIVER
	
config CHG_SUSP
	tristate "Charger CHG_SUSP driver support"
	depends on YAMU_DRIVER
	
config DOCKDET
	tristate "DOCK DETECT driver support"
	depends on YAMU_DRIVER	
	
config DOCKDET_AD
	tristate "DOCK DETECT AD driver support"
	depends on YAMU_DRIVER
	
config WLAN_nRESET
	tristate "WLAN nRESET  driver support"
	depends on YAMU_DRIVER	
	
config WLAN_SPI_nINT
	tristate "WLAN_SPI_nINT driver support"
	depends on YAMU_DRIVER
	
config WM8750_REG
	tristate "WM8750_REG driver support"
	depends on YAMU_DRIVER	

config SW_PW_OFF
	tristate "PIC IC SW_PW_OFF driver support"
	depends on YAMU_DRIVER	
		
endmenu
