

# @(#) sl@belcarra.com|otg/platform/isp1301/Kconfig-isp1301|20060719063203|59940
# Copyright (c) 2005-2006 Belcarra Technologies 2005 Corp
#menu "Phillips ISP1301 Support"


        config OTG_ISP1301_PROCFS
                depends on OTG_ISP1301 && PROC_FS
                bool "ISP1301 Proc FS debug"
                ---help---
                Compile debug support, implements /proc/isp1301 which
                will display all of the ISP1301 registers.

#endmenu
