#
# @(#) balden@belcarra.com/seth2.rillanon.org|otg/platform/imx31ads/Kconfig-imx31ads|20070614183949|43876
# Copyright (c) 2006 Belcarra Technologies 2005 Corp
#

# CONFIG_OTG_PLATFORM_OTG       # Offer OTG Configuration

# CONFIG_OTG_IMX31EVB

# CONFIG_OTG_ISP1301_IMX31ADS     # Compile ISP1301 IMX31ADS
# CONFIG_OTG_MC13738_IMX31ADS       # Compile MC13783 IMX31ADS

# CONFIG_OTG_IMX31ADS             # IMX31ADS
# CONFIG_OTG_IMX31ADS     # Use ISP1301
# CONFIG_OTG_IMX31ADS    # Use MC13783
# CONFIG_OTG_IMX31ADS         # Use MC13783
# CONFIG_OTG_PLATFORM           # Compile as OTG Dual-role Device
# CONFIG_OTG_TRADITIONAL        # Compile as Traditional USB Peripheral

config OTG_IMX31ADS
	tristate "Freescale iMX31ADS Evaluation Board"
	depends on OTG && (MACH_MX31ADS)

        ---help---
        This implements On-The-Go USB Support for the iMX31ADS EVB.

if ( OTG_IMX31ADS != 'n')

        #config OTG_PLATFORM_OTG
        #        bool
        #        default OTG_IMX31ADS

        config OTG_PLATFORM_USB
                bool
                default USB_ARC_OTG

        config OTG_PLATFORM_USBD
                bool
                default !USB_ARC_OTG

        config OTG_HIGH_SPEED_CAPABLE
                bool
                default OTG_IMX31ADS

        #config OTG_REMOTE_WAKEUP_CAPABLE
        #        bool
        #        default OTG_IMX31ADS

        #config OTG_BUS_POWERED_CAPABLE
        #        bool
        #        default OTG_IMX31ADS

        config OTG_BTC_ARC
                bool
                default OTG_IMX31ADS


        config OTG_ARC
                bool
                default USB_ARC

        config OTG_ARC_OTGHS
                bool
                default USB_ARC_OTGHS

        config OTG_ARC_OTGFS
                bool
                default USB_ARC_OTGFS


endif
