#
# @(#) sp@belcarra.com|otg/platform/zasevb/Kconfig-zasevb-arc|20070629180415|22301
# Copyright (c) 2005 Belcarra
# Copyright (c) 2005-2006 Belcarra Technologies 2005 Corp
#

# CONFIG_OTG_PLATFORM_OTG       # Offer OTG Configuration

# CONFIG_OTG_ZASEVB_ARC         # Make

# CONFIG_OTG_PLATFORM           # Compile as OTG Dual-role Device
# CONFIG_OTG_TRADITIONAL        # Compile as Traditional USB Peripheral

config OTG_ZASEVB_ARC
	tristate "Freescale ZAS Evaluation Board using ARC HS USB"
	depends on OTG && ((MACH_MXC30020EVB) || (MACH_MXC30031ADS))

        ---help---
        This implements On-The-Go USB Support for the ZAS EVB using the ARC High Speed USB Device Controller.

if ( OTG_ZASEVB_ARC != 'n')

        config OTG_PLATFORM_OTG
                bool
                default OTG_ZASEVB_ARC

        config OTG_PLATFORM_USB
                bool
                default OTG_ZASEVB_ARC

        config OTG_PLATFORM_USBD
                bool
                default OTG_ZASEVB_ARC

        config OTG_HIGH_SPEED_CAPABLE
                bool
                default OTG_ZASEVB_ARC

        config OTG_REMOTE_WAKEUP_CAPABLE
                bool
                default OTG_ZASEVB_ARC

        config OTG_BUS_POWERED_CAPABLE
                bool
                default OTG_ZASEVB_ARC

        config OTG_BTC_ARC
                bool
                default OTG_ZASEVB_ARC

endif
