config SND_SOC_AC97_CODEC
	tristate
	depends on SND_SOC

config SND_SOC_WM8731
	tristate
	depends on SND_SOC

config SND_SOC_WM8750
	tristate
	depends on SND_SOC

config SND_SOC_WM8750_I2C
	tristate
	select SND_SOC_WM8750
	depends on SND_SOC && (CONFIG_I2C || CONFIG_I2C_MODULE)

config SND_SOC_WM8750_SPI
	tristate
	select SND_SOC_WM8750
	depends on SND_SOC && CONFIG_SPI

config SND_SOC_WM8753
	tristate
	depends on SND_SOC

config SND_SOC_WM9712
	tristate
	depends on SND_SOC
