# @(#) balden@belcarra.com/seth2.rillanon.org|otg/functions/msc/Kconfig|20070531215019|51512
# Copyright (c) 2005-2006 Belcarra Technologies 2005 Corp
menu "OTG Mass Storage function"
	depends on OTG

config OTG_MSC
        tristate "Mass Storage Function"
        depends on OTG

config OTG_MSC_PIPES_TEST
                bool "Pipes Test Only"
                depends on OTG && OTG_MSC && OTG_INTERNAL_TESTING
                default n
                ---help---
                Setting this allows the pipes to be tested separately.

menu "OTG Mass Storage function options"
	depends on OTG && OTG_MSC

#config OTG_MSC_VENDORID
#        hex "VendorID (hex value)"
#        depends on OTG && OTG_MSC
#        default "0x15ec"

#config OTG_MSC_PRODUCTID
#        hex "ProductID (hex value)"
#        depends on OTG && OTG_MSC
#        default "0xf006"

#config OTG_MSC_BCDDEVICE
#        hex "bcdDevice (binary-coded decimal)"
#        depends on OTG && OTG_MSC
#        default "0x0100"



config OTG_MSC_MANUFACTURER
        string "iManufacturer (string)"
        depends on OTG && OTG_MSC
        default "Belcarra"

config OTG_MSC_PRODUCT_NAME
        string "iProduct (string)"
        depends on OTG && OTG_MSC
        default "Mass Storage Class - Bulk Only"

config OTG_MSC_INTF
        string "MSC Bulk Only iInterface (string)"
        depends on OTG && OTG_MSC
        default "MSC BO Data Intf"

#config OTG_MSC_DESC
#        string "Data Interface iConfiguration (string)"
#        depends on OTG && OTG_MSC
#        default "MSC BO Configuration"

config OTG_MSC_REGISTER_TRACE
        bool "MSC Tracing"
        depends on OTG && OTG_MSC && OTG_INTERNAL_TESTING
        default n
endmenu

endmenu
