#
# Power Managment devices
#

menu "Advanced Power Management devices"

config MXC_DPTC
	bool "MXC DPTC driver"
	depends on (ARCH_MX3 || ARCH_MXC91321) && MXC_PMIC_MC13783
	default y
	help
	   This selects the Freescale MXC Internal DPTC driver.
	   If unsure, say N.

config MX27_DPTC
	bool "MXC DPTC driver"
	depends on ARCH_MX27 && MXC_PMIC_MC13783
	default y
	help
	   This selects the Freescale MX27 Internal DPTC driver.
	   If unsure, say N.

config MXC_DVFS
	bool "MXC DVFS driver"
	depends on ARCH_MX3
	default y
	help
	  This selects the Freescale MXC Internal DVFS driver.
	  If unsure, say N.

config MXC_DVFS_SDMA
	bool "MXC DVFS SDMA support"
	depends on MXC_DVFS
	default n
	help
	  This selects the Freescale MXC Internal DVFS driver SDMA support.
	  If unsure, say N.

endmenu
