[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OProfile Viewer
GenericName=System profiler
Icon=oprofile-viewer
Exec=oprofile-viewer
Categories=GTK;Development;
Terminal=false
StartupNotify=true
