#
# Jive BSP
#

menu "Jive Hardware"

config JIVE_DRIVER
	bool "Jive Hardware Support"
	
config JIVE_MATRIX
	tristate "Key Matrix Support"
	depends on JIVE_DRIVER

config JIVE_WHEEL
	tristate "Wheel Driver Support"
	depends on JIVE_DRIVER

config JIVE_MGMT
	tristate "Jive BSP Driver"
	depends on JIVE_DRIVER

config JIVE_IRTX
	tristate "Jive IR transmit Driver"
	depends on JIVE_DRIVER

endmenu
