#
# fab4 device driver configuration
#

menu "MXC FAB4 support"

config MXC_FAB4_DEBUG_GPIO
	bool "FAB4 Debug GPIO"
	depends on MACH_FAB4
	default n
	---help---
	This driver allows debugging Fab4 GPIOs via the /sys interface.


config MXC_FAB4_IR
	bool "FAB4 IR"
	depends on MACH_FAB4
	default n
	---help---
	This driver provides IR support on Fab4

endmenu
