#
# L3 bus configuration
#

menu "L3 serial bus support"

config L3
	tristate "L3 support"

config L3_ALGOBIT
	bool "L3 bit-banging interfaces"
	depends on L3=y

config L3_BIT_SA1100_GPIO
	bool "SA11x0 GPIO adapter"
	depends on L3_ALGOBIT && ARCH_SA1100
	
# i2c must come before this
config BIT_SA1100_GPIO
	bool
	depends on L3_BIT_SA1100_GPIO || I2C_BIT_SA1100_GPIO=y
	default y

config L3_BIT_S3C2413_GPIO
	bool "S3C2413 GPIO adapter"
	depends on L3_ALGOBIT && ARCH_S3C2413
	
endmenu
